.pokemon-list {
    list-style: none;
    width: 100%;
    min-height: 0;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.pokemon-list::-webkit-scrollbar {
    width: 8px;
}

.pokemon-list::-webkit-scrollbar-track {
    background: #061c1b;
}

.pokemon-list::-webkit-scrollbar-thumb {
    background: #7df5c5;
    border-radius: 10px;
}